<section class="cadastro">
  <div class="cadastroItens">
  <h1 class="p-text-center">Cadastro</h1>
<div class="p-fluid p-formgrid p-grid">

  <div class="p-field p-col-12 p-md-6">
      <label for="firstname">Nome</label>
      <input id="firstname" type="text" pInputText>
  </div>
  <div class="p-field p-col-12 p-md-6">
      <label for="lastname">Sobrenome</label>
      <input id="lastname" type="text" pInputText>
  </div>
  <div class="p-field p-col-12">
      <label for="address">Endereço</label>
      <textarea id="address" type="text" rows="2" class="areaEndereco" pInputTextarea></textarea>
  </div>
  <div class="p-field p-col-12 p-md-6">
      <label for="city">Cidade</label>
      <input id="city" type="text" pInputText>
  </div>
  <div class="p-field p-col-12 p-md-3">
      <label for="state">Estado</label>
      <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select"  (onChange)="escolheuEstado()"></p-dropdown>
  </div>
  <div class="p-field p-col-12 p-md-3">
      <label for="zip">Cep</label>
      <input id="zip" type="text" pInputText>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label for="email">E-mail</label>
    <input id="email" type="text" pInputText>
</div>

<div class="p-field p-col-12 p-md-3">
  <label for="senha">Senha</label>
  <input id="senha" type="password" pPassword>
</div>
</div>
</div>
</section>
