
    <p-card header="Register"  [style]="{width: '260px'}" styleClass="p-card-shadow"class="card-body">
      <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group col-12">
          <span class="p-float-label">
            <input type="text" class="p-mb-2 p-d-block" placeholder="UserName"formControlName="userName" pInputText/>
          </span>
            <!-- <span *ngIf="!userName.valid && userName.touched"
            class="error-block">
              Please provide name
            </span> -->
        </div>

        <div class="form-group col-12">
          <input type="text"  class="p-mb-2 p-d-block" placeholder="Email" formControlName="email" pInputText/>
          <!-- <span *ngIf="!userName.valid && userName.touched"
            class="error-block">
              Please provide name
            </span> -->
        </div>

        <div class="form-group col-12">
          <input type="text"  class="p-mb-2 p-d-block" placeholder="password" formControlName="password" pInputText/>
          <!-- <span *ngIf="password.errors['required']">
            Please provide password
          </span> -->
        </div>
        <div class="form-group col-12">
          <p-button type="submit" class="btn btn-primary">Save</p-button>
        </div>
      </form>
    </p-card>

