<div class="p-d-flex p-jc-center p-mt-0">
    <h2>Farmácia X</h2>
</div>

<div class="p-d-flex p-jc-center p-p-6 p-mt-6">
    <div class="p-flex-column p-p-6 p-shadow-10" style="background-color: white;">
        <div class="p-col">
            <div class="p-col p-d-flex p-jc-center">
                <h3>Cadastre-se</h3>
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input class="p-inputtext-lg" type="text" pInputText placeholder="Nome Completo">
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input class="p-inputtext-lg" type="text" pInputText placeholder="Usuário/Login">
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
                <input class="p-inputtext-lg" type="text" pInputText placeholder="CPF">
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input class="p-inputtext-lg" type="text" pInputText placeholder="E-mail">
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-mobile"></i></span>
                <input class="p-inputtext-lg" type="text" pInputText placeholder="Telefone">
            </div>
        </div>
        <div class="p-col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input class="p-inputtext-lg" type="password" pPassword [feedback]="false" placeholder="Senha" />
            </div>

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input class="p-inputtext-lg" type="password" pPassword [feedback]="false"
                    placeholder="Cofirmação da senha" />
            </div>
        </div>
        <div class="p-col p-d-flex  p-jc-center">
            <button pButton type="button" label="Cancelar" icon="pi pi-check" class="p-button-mg"
                onclick="window.location.href = 'http://localhost:4200'"></button>

            <button pButton type="button" label="Cadastrar" icon="pi pi-check" class="p-button-mg p-ml-2"
                onclick="window.location.href = 'http://localhost:4200'"></button>


        </div>
    </div>
</div>