<div class="container">
  <div class="panel-container-register p-shadow-8">
    <p-panel>
      <p-header class="panel-title">
        Registro
      </p-header>

      <div class="p-fluid">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="p-field form-group">
            <label for="firstName">Primeiro Nome</label>
            <input type="text" formControlName="firstName" pInputText />
          </div>

          <div class="p-field form-group">
            <label for="lastName">Sobrenome</label>
            <input type="text" formControlName="lastName" pInputText />
          </div>

          <div class="p-field form-group">
            <label for="username">Nome de Usuário</label>
            <input type="text" formControlName="username" pInputText />
          </div>

          <div class="p-field form-group">
            <label for="password">Senha</label>
            <input type="password" formControlName="password" pInputText />
          </div>

          <div class="p-field form-group">
            <label for="password2">Confirmar Senha</label>
            <input type="password" formControlName="password2" pInputText />
          </div>

          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-3">
              <button pButton pRipple label="Salvar" class="p-button-raised" [disabled]="loading"></button>
            </div>
            <p-button label="Cancelar" styleClass="p-button-link" routerLink="../login"></p-button>
          </div>
        </form>
      </div>
    </p-panel>
  </div>
</div>
