<div class="container">
  <div class="panel-container p-shadow-8">
    <p-panel>
      <p-header class="panel-title">
        Registro
      </p-header>

      <div class="p-fluid">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="p-field form-group">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" pInputText />
          </div>

          <div class="p-field form-group">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" pInputText />
          </div>

          <div class="p-field form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" pInputText />
          </div>

          <div class="p-field form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" pInputText />
          </div>

          <div class="p-formgroup-inline">
            <div>
              <button pButton pRipple label="Salvar" class="p-button-raised" [disabled]="loading"></button>
            </div>
            <p-button label="Cancelar" styleClass="p-button-link" routerLink="../login"></p-button>
          </div>
        </form>
      </div>
    </p-panel>
  </div>
</div>
