<div class="p-grid p-flex-column">
    <p-toolbar class="header p-grid p-flex-column">
        <div class="p-toolbar-group-left">
            <span>
                <a>
                    <img class="logo" src="assets/img/gastonNovo.png" alt="logo">
                </a>
            </span>
        </div>
        <div class="p-toolbar-group-right" *ngIf="isAuthenticated()">
            <span>
                <a>
                    <i class="pi {{ icon }}"></i>
                    {{ title }}
                </a>
            </span>
        </div>
        <div class="p-toolbar-group-right logout" *ngIf="isAuthenticated()">
            <span>
                <a [routerLink]="['/login']" (click)="exit()">
                    <i class="pi pi-sign-out"></i>
                    Logout
                </a>
            </span>
        </div>
    </p-toolbar>
</div>

