body{
    background-color: rgb(194, 207, 221);
    align-items: center;

}

main{

    align-items: center;

}

header{
    
    align-items: center;

}

.header-header{
    background-color: rgb(54, 115, 156);
    align-items: center;
}

.container{
    background-color: rgb(54, 115, 156);
}

button{
    margin-left: 1%;
}

div{
    align-items: center;
}

