<p-menubar>
  <button pButton label="Sair" icon="pi pi-power-off" (click)="sair()"></button>
</p-menubar>

<section class="produtos">
  <div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
      <div class="p-inputgroup">
        <input
          type="text"
          pInputText
          placeholder="Palavra-chave"
          [(ngModel)]="pesquisa"
          (keydown)="pesquisar()"
        />
      </div>
    </div>
  </div>

  <div>
    <p-table
      [value]="listaProdutos"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Exibindo {first} à {last} de {totalRecords} produtos"
      [rowsPerPageOptions]="[10, 25, 50]"
      [responsive]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Id</th>
          <th>Código Erp</th>
          <th>Nome Completo</th>
          <th>Unid. de Medida</th>
          <th>Cód. de Barras</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-produto let-columns="columns">
        <tr>
          <td><span class="p-column-title">Id</span>{{ produto.id }}</td>
          <td>
            <span class="p-column-title">Código Erp</span
            >{{ produto.codigoErp }}
          </td>
          <td>
            <span class="p-column-title">Nome Completo</span
            >{{ produto.nomeComercialComApresentacao }}
          </td>
          <td>
            <span class="p-column-title">Unid. de Medida</span
            >{{ produto.unidadeMedidaAnvisa }}
          </td>
          <td>
            <span class="p-column-title">Cód. de Barras</span
            >{{ produto.codigoBarrasPrincipal }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
