<p-menubar>
   <button pButton label="Sair" icon="pi pi-power-off"></button>
</p-menubar>

<section class="produtos">
  <div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
      <div class="p-inputgroup">
        <input
          type="text"
          pInputText
          placeholder="Palavra-chave"
          [(ngModel)]="pesquisa"
          (keydown)="pesquisar()"
        />
      </div>

    </div>
  </div>

  <div>
    <p-table
      [value]="listaProdutos"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Exibindo {first} à {last} de {totalRecords} produtos"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <!-- <th>Category</th>
              <th>Quantity</th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-produto>
        <tr>
          <td>{{ produto.id }}</td>
          <td>{{ produto.nomeComercial }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
