<div class="p-d-flex" style="background-color: rgb(109, 169, 238);">


    <button pButton label="" icon="pi pi-user" class="p-ml-1 p-mt-2 p-mb-2" onclick=""></button>

    <button pButton label="" icon="pi pi-cog" class="p-ml-1 p-mt-2 p-mb-2" onclick=""></button>

    <button pButton label="" icon="pi pi-star" class="p-ml-1 p-mt-2 p-mb-2" onclick=""></button>


    <p-megaMenu class="p-mt-1 p-r-auto p-d-flex p-ml-1 p-mb-1">

        <input type="text" class="" pInputText placeholder="Pesquisar">

        <button pButton type="button" icon="pi pi-search" iconPos="left"></button>


        <button pButton label="Sair" icon="pi pi-sign-out" class="p-ml-1"
            onclick="window.location.href = 'http://localhost:4200'"></button>

    </p-megaMenu>

</div>
<div class="p-d-flex p-jc-center p-mt-6 p-text-center">

    <p-card class="p-d-flex p-p-6 p-text-center">
        <p-header>
            <h3>ABS PARA SEIOS</h3>

        </p-header>
        <h4>J&J 24UN</h4>
        <h6>FRASCOS</h6>
        <h6>7894567890135</h6>
        <p-footer class="">
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm  p-mt-1 " onclick=""></button>

        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>TAMIFLU</h3>
        </p-header>
        <h4>75MG10CAPMED</h4>
        <h6>CAIXAS</h6>
        <h6>7891260023136</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>G BIPERIDENO</h3>
        </p-header>
        <h4>2MG 80COMP BAS</h4>
        <h6>CAIXAS</h6>
        <h6>7896255700511</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>DEPAKENE</h3>
        </p-header>
        <h4>250MG 25CAP</h4>
        <h6>CAIXAS</h6>
        <h6>7891158000942</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>DEPAKENE</h3>
        </p-header>
        <h4>300MG 25COMP</h4>
        <h6>CAIXAS</h6>
        <h6>7891158000317</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>



</div>

<div class="p-d-flex p-jc-center p-mt-6 p-text-center">

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>DEPAKENE</h3>
        </p-header>
        <h4>500MG 50COMP</h4>
        <h6>CAIXAS</h6>
        <h6>7891158000898</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>

        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>DEPAKENE</h3>
        </p-header>
        <h4>XPE 100ML</h4>
        <h6>FRASCOS</h6>
        <h6>7891158000966</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>DEPAKOTE</h3>
        </p-header>
        <h4>250MG 20COMP</h4>
        <h6>CAIXAS</h6>
        <h6>7891158028229</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>DEPAKOTE</h3>
        </p-header>
        <h4>500MG 20COMP</h4>
        <h6>CAIXAS</h6>
        <h6>7891158028236</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>DEPAKOTE</h3>
        </p-header>
        <h4>SPRINKLE 30CAP</h4>
        <h6>CAIXAS</h6>
        <h6>7896255762649</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>



</div>

<div class="p-d-flex p-jc-center p-mt-6 p-text-center">

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>NIAR</h3>
        </p-header>
        <h4>5MG 30COMP</h4>
        <h6>CAIXAS</h6>
        <h6>7896255715003</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>

        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>NOCTAL</h3>
        </p-header>
        <h4>20COMP</h4>
        <h6>CAIXAS</h6>
        <h6>7891158000195</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>REDUCTIL</h3>
        </p-header>
        <h4>10MG 30CAP</h4>
        <h6>CAIXAS</h6>
        <h6>7896255716819</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>REDUCTIL</h3>
        </p-header>
        <h4>15MG 30CAP</h4>
        <h6>CAIXAS</h6>
        <h6>7896255702744</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>DESOBESI M</h3>
        </p-header>
        <h4>20CAP \"IN\"</h4>
        <h6>CAIXAS</h6>
        <h6>7896202900759</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>



</div>

<div class="p-d-flex p-jc-center p-mt-6 p-text-center">

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>DUALID S</h3>
        </p-header>
        <h4>75MG 20CAP</h4>
        <h6>CAIXAS</h6>
        <h6>7896658005275</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>

        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>PARNATE</h3>
        </p-header>
        <h4>20DRG</h4>
        <h6>CAIXAS</h6>
        <h6>7896015521912</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>SOMALIUM</h3>
        </p-header>
        <h4>3MG 20COMP</h4>
        <h6>CAIXAS</h6>
        <h6>7896658000607</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>SOMALIUM</h3>
        </p-header>
        <h4>6MG 20COMP</h4>
        <h6>CAIXAS</h6>
        <h6>7896658000614</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>

    <p-card class="p-d-flex p-p-6">
        <p-header>
            <h3>SOMALIUM</h3>
        </p-header>
        <h4>GTS 20ML</h4>
        <h6>FRASCOS</h6>
        <h6>7896658004841</h6>
        <p-footer>
            <button pButton type="button" label="Comprar" icon="pi pi-check" class="p-button-sm"></button>

            <button pButton label="" icon="pi pi-star" class="p-button-sm p-mt-1 " onclick=""></button>
        </p-footer>
    </p-card>



</div>