<div class="container">


  <header>
    <div class="menu-nav">
      <img src="/assets/logo-info.png" alt="">
      <div class="menu-nav-items">
        <li>+55 (81) 3424-9555 </li>
        <li>contato@informata.com.br</li>
      </div>
    </div>
  </header>

  <div class="p-grid p-justify-center">
    <div class="p-col-10 p-md-6 p-lg-3 card ">
      <!-- Formulário Login e Senha -->
      <p-card>
        <div class="p-grid">
          <div class="p-col-12 text-center">
            <h2>LOGIN</h2>
          </div>

          <div class="p-col-12">
            <span class="p-float-label">
              <input class="p-col-12" id="float-input" type="text" pInputText>
              <label for="float-input">Usuário</label>
            </span>
          </div>

          <div class="p-col-12">
            <span class="p-float-label">
              <input class="p-col-12" id="float-input" type="text" pInputText>
              <label for="float-input">Senha</label>
            </span>
          </div>

          <div class="p-col-12">
            <button class="p-col-12 btn-primary-color" pButton type="button" label="ENTRAR"></button>
          </div>
          <div class="p-col-12">
            <button class="btn-secondary-color p-button-outlined p-col-12" pButton type="button"
              label="CADASTRAR"></button>
          </div>
        </div>
      </p-card>
      <!-- FIM - Formulário de Login -->

    </div>
  </div>
</div>
