h1 {
    text-align:center;
    Letter-spacing: px;
    padding: 100px;
    font-size: 1000%;
    font-weight: bold
  }
    
  h3  {
    text-align:center;
    
    position: relative;
     bottom: 100px;
    
  }
  
  html{    
    background-size: cover;
    background-position: center;
    font-family: '', sans-serif;
    Color: #fff
  } 
  
  