<section class="login">
  <div class="loginItens">
    <div class="p-col">
      <h3>Login:</h3>
      <span class="p-float-label">
        <input class="inputArea" id="float-input" type="text" size="30" pInputText />
        <label for="float-input">Digite seu e-mail</label>
      </span>
    </div>

    <div class="p-col">
      <h3>Senha:</h3>
      <span>
        <input class="inputArea" type="password" pPassword />
      </span>
    </div>

    <div class="p-col">
      <span>
        <p-button label="Entrar" icon="pi pi-check" iconPos="right"></p-button>
      </span>
    </div>

    <div class="p-col">

        <p-button label="Quero me cadastrar" class="larguraBtn" ></p-button>

    </div>
  </div>
</section>
