<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="p-fluid">
    <div class="p-field">
      <h2>Entrar</h2>
    </div>
    <div class="p-field">
      <label>E-mail</label>
      <input type="email" name="email" id="email" pInputText  [(ngModel)]="login.email" required />
    </div>
    <div class="p-field">
      <label>Senha</label>
      <input type="password" name="password" id="password" pInputText [(ngModel)]="login.password" required />
    </div>
    <div class="p-field">
      <button pButton type="submit" label="Entrar" [disabled]="form.form.invalid"></button>
    </div>
    <div class="p-field">
      <button pButton type="button" label="Cadastre-se" class="p-button-text" [routerLink]="['/create-account']"></button>
    </div>
  </div>
</form>

