<body>
    <div class="card">
    <h1>Lista de produtos</h1>
    </div>
        <div class="button">
            <button pButton type=" button" label="logout" routerLink="/"></button>
        </div>

        <div>
            <p-card class="card" header="Absorvente para seios">
                apresentacao: "J&J 24UN"<br>
                nomeComercial: "ABS PARA SEIOS"<br>
                nomeComercialComApresentacao: "ABS PARA SEIOS J&J 24UN"<br>
                codigoBarrasPrincipal: "7894567890135<br>
            </p-card>
            <p-card class="card" header="Tamiflu 75MG">
                apresentacao: "75MG10CAPMED"<br>
                nomeComercial: "TAMIFLU",<br>
                nomeComercialComApresentacao: "TAMIFLU 75MG10CAPMED"<br>
                codigoBarrasPrincipal: "7891260023136"<br>
            </p-card>
            <p-card class="card" header="G Biperino">
                
                apresentacao: "2MG 80COMP BAS"<br>
                nomeComercial: "G BIPERIDENO"<br>
                nomeComercialComApresentacao": "G BIPERIDENO 2MG 80COMP BAS"<br>
                codigoBarrasPrincipal: "7896255700511"<br>
            </p-card>
            <p-card class="card" header="Depakene 250MG">
                
                apresentacao: "250MG 25CAP",<br>
                nomeComercial: "DEPAKENE",<br>
                nomeComercialComApresentacao: "DEPAKENE 250MG 25CAP",<br>
                codigoBarrasPrincipal: "7891158000942"<br>
            </p-card>
            <p-card class="card" header="Depakene 300MG">
               
                apresentacao: "300MG 25COMP",<br>
                nomeComercial: "DEPAKENE",<br>
                nomeComercialComApresentacao: "DEPAKENE 300MG 25COMP"<br>
                codigoBarrasPrincipal: "7891158000317"<br>
            </p-card>
            <p-card class="card" header="Depakene 500MG">
                
                apresentacao: "500MG 50COMP",<br>
                nomeComercial: "DEPAKENE",<br>
                nomeComercialComApresentacao: "DEPAKENE 500MG 50COMP"<br>
                codigoBarrasPrincipal: "7891158000898"<br>
            </p-card>
            <p-card class="card" header="Depakene Xarope">
               
                apresentacao: "XPE 100ML"<br>
                nomeComercial: "DEPAKENE<br>
                nomeComercialComApresentacao: "DEPAKENE XPE 100ML"<br>
                codigoBarrasPrincipal: "7891158000966"<br>
            </p-card>
            <p-card class="card" header="Depakote 250MG">
             
                apresentacao: "250MG 20COMP",<br>
                nomeComercial: "DEPAKOTE",<br>
                nomeComercialComApresentacao: "DEPAKOTE 250MG 20COMP"<br>
                codigoBarrasPrincipal: "7891158028229"<br>
            </p-card>
            <p-card class="card" header="Depakote 500MG">
                
                apresentacao: "500MG 20COMP",<br>
                nomeComercial: "DEPAKOTE",<br>
                nomeComercialComApresentacao: "DEPAKOTE 500MG 20COMP",<br>
                codigoBarrasPrincipal: "7891158028236"<br>
            </p-card>
            <p-card class="card" header="Depakote Sprinkle">
               
                "apresentacao": "SPRINKLE 30CAP",<br>
                "nomeComercial": "DEPAKOTE",<br>
                "nomeComercialComApresentacao": "DEPAKOTE SPRINKLE 30CAP",<br>
                "codigoBarrasPrincipal": "7896255762649"<br>
            </p-card>
            <p-card class="card" header="Niar 5MG">
               
                "apresentacao": "5MG 30COMP",<br>
                "nomeComercial": "NIAR",<br>
                "nomeComercialComApresentacao": "NIAR 5MG 30COMP",<br>
                "codigoBarrasPrincipal": "7896255715003"<br>
            </p-card>
            <p-card class="card" header="Depakote Sprinkle">
                "apresentacao": "SPRINKLE 30CAP",<br>
                "nomeComercial": "DEPAKOTE",<br>
                "nomeComercialComApresentacao": "DEPAKOTE SPRINKLE 30CAP",<br>
                "codigoBarrasPrincipal": "7896255762649"<br>
            </p-card>
            <p-card class="card" header="Noctal">
               
                "apresentacao": "20COMP",<br>
                "nomeComercial": "NOCTAL",<br>
                "nomeComercialComApresentacao": "NOCTAL 20COMP",<br>
                "codigoBarrasPrincipal": "7891158000195"<br>
            </p-card>
            <p-card class="card" header="Reductil 10MG">
                
                "apresentacao": "10MG 30CAP",<br>
                "nomeComercial": "REDUCTIL",<br>
                "nomeComercialComApresentacao": "REDUCTIL 10MG 30CAP",<br>
                "codigoBarrasPrincipal": "7896255716819"<br>
            </p-card>
            <p-card class="card" header="Reductil 15MG">
              
                "apresentacao": "15MG 30CAP",<br>
                "nomeComercial": "REDUCTIL",<br>
                "nomeComercialComApresentacao": "REDUCTIL 15MG 30CAP",<br>
                "codigoBarrasPrincipal": "7896255702744"<br>
            </p-card>
            <p-card class="card" header="Desobesi">
               
                "apresentacao": "20CAP \"IN\"",<br>
                "nomeComercial": "DESOBESI M",<br>
                "nomeComercialComApresentacao": "DESOBESI M 20CAP \"IN\"",<br>
                "codigoBarrasPrincipal": "7896202900759"<br>
            </p-card>
           
        </div>
</body>
