<div class="container">


  <header>
    <div class="menu-nav">
      <img src="/assets/logo-info.png" alt="">
      <div class="menu-nav-items">
        <li>+55 (81) 3424-9555 </li>
        <li>contato@informata.com.br</li>
      </div>
    </div>
  </header>


  <!-- Formulário Cadastrp Login e Senha -->
  <div class="p-grid p-justify-center">
    <div class="p-col-10 p-md-6 p-lg-3 card ">
      <p-card>
        <div class="p-grid">
          <div class="p-col-12 text-center">
            <h2>CADASTRO</h2>
          </div>

          <div class="p-col-12">
            <span class="p-float-label">
              <input class="p-col-12" id="float-input" type="text" pInputText>
              <label for="float-input">Digite seu usuário</label>
            </span>
          </div>

          <div class="p-col-12">
            <span class="p-float-label">
              <input class="p-col-12" id="float-input" type="password" pPassword>
              <label for="float-input">Digite sua senha</label>
            </span>
          </div>

          <div class="p-col-12">
            <button class="p-col-12 btn-primary-color" pButton type="button" label="CADASTRAR"></button>
          </div>
          <div class="p-col-12">
            <a routerLink="/"><button class="btn-secondary-color p-button-outlined p-col-12" pButton type="button"
                label="VOLTAR"></button></a>
          </div>
        </div>
      </p-card>
      <!-- FIM - Formulário Cadastro de Login e Senha -->

    </div>
  </div>
</div>
