<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="p-fluid">
    <div class="p-field">
      <h2>Cadastre-se</h2>
    </div>
    <div class="p-field">
      <label>Nome</label>
      <input type="text" name="email" id="email" [(ngModel)]="account.name" pInputText required />
    </div>
    <div class="p-field">
      <label>E-mail</label>
      <input type="email" name="email" id="email" [(ngModel)]="account.email" pInputText required />
    </div>
    <div class="p-field">
      <label>Senha</label>
      <input type="password" name="password" id="password" [(ngModel)]="account.password" pInputText required />
    </div>
    <div class="p-field">
      <button type="submit" pButton [routerLink]="['/login']" label="Cadastrar-se" onclick="alert('Cadastrado com sucesso!')" [disabled]="form.form.invalid"></button>
    </div>
  </div>
</form>
