<div class="card-table">

  <div class="p-shadow-2 p-p-4">

    <p-table #dt [columns]="cols" [value]="products" [paginator]="true" [rows]="10">

      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          Listagem de Produtos
          <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input type="text" pInputText size="30" placeholder="Buscar"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
