body { margin: 0px; }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .p-button-label {
    color: #ffffff;
    background: #4c4c52;
    border: 1px solid #000000;
    padding: 5px 20px;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
}
 .p-button {
  color: #ffffff;
  background: #4e5e6e;
  border: 1px solid #000000;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}
