<div class="container">

  <!--Cabeçalho c/ Botão de Logout-->
  <header>
    <div class="menu-nav">
      <img src="/assets/logo-info.png" alt="">
      <div class="menu-nav-items">
        <li>+55 (81) 3424-9555 </li>
        <li>contato@informata.com.br</li>
        <a routerLink="/">
          <button (click)="logout()" pButton type="button" class="p-button-raised p-button-rounded">
            <i class="pi pi-power-off"></i></button>
        </a>
      </div>
    </div>
  </header>
  <!---->

  <div class="produtos-title">
    <h1>Produtos</h1>
  </div>

  <!--LISTA DE PRODUTOS / Filtro de pesquisa pelo nome-->
  <p-orderList [value]="produtos" filterBy="nomeComercial">

    <ng-template let-prod pTemplate="item">
      <div>
        <div> {{prod.nomeComercial}} - {{prod.codigoErp}} - {{prod.apresentacao}} - {{prod.nomeComercialApresentacao}} -
          {{prod.unidadeMedidaAnvisa}} - {{prod.codigoBarrasPrincipal}}</div>
      </div>
    </ng-template>
  </p-orderList>
  <!---->

</div>
