:host ::ng-deep .toolbar.p-toolbar {
  background: #2c3e50;
  height: 71px;
  margin-bottom: 20px;
}

.logo {
  width: 150px;
}

:host ::ng-deep .customButton.p-button {
  text-decoration: none;
}

.actual-user {
  color: rgb(204, 203, 203);
  margin-right: 10px;
  font-weight: bold;
}

.actual-user:hover {
  color: #0D89EC;
  transition: 0.3s;
}

.container {
  width: 80%;
  margin: auto;
}
