:host ::ng-deep .toolbar.p-toolbar {
  background: #2C3E50;
  height: 71px;
  margin-bottom: 20px;
}

.logo {
  width: 150px;
}

:host ::ng-deep .customButton.p-button {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
}
